### Numbers and More in Pythion

1.) Types of Numbers in Python

2.) Basic Arithmetic

3.) Differences between classic division and floor division

4.) Object Assignment in Python

##### Type of numbers

Python has various "types" of numbers (numeric literals.). We'll mainly focus on integers and floating point numbers.
Integers are just whole numbers, postive or negative. For example : 2 and -2 are eg of integers.
Floating point numbers in python are notable because they have decimal point in them, or use an expotential (e) to define the number. For example 2.0 and - 2.1 are example of floating point numbers. 4E2(4 times power of 2) is an also example of floating point numbers in python.

#### Basic Arithmetic

In [1]:
# Addition
2 + 5

7

In [2]:
# Subtraction
2 - 1

1

In [3]:
# Multiplication
2 * 3

6

In [4]:
# Division
10 / 2

5.0

In [5]:
# Floor Division
7 // 4

1

The reason we get this result is because we are using "floor" division. The // operator (two forward slashes) truncates the decimal without rounding, and returns an integer result.

In [6]:
# Modulo
7 % 4

3

#### Arithmetic Continued

In [7]:
# Powers
2 ** 3

8

In [8]:
# Can also do roots this way
4**0.5

2.0

In [9]:
# order of operation followed in python
2 + 10 * 20 + 3

205

In [10]:
# Can use parenthese to specify order
(2+10) * (10+3)

156

### Variable Assignments

In [11]:
# Lets create object called 'a' and assign it the number 3

a = 3

Now if I call a in my Python script, Python will treat it as the number 5.

In [12]:
# Adding the objects
a + a

6

In [13]:
# Reassignment
a = 10

In [15]:
#Check
a

10

Python allows you to write over assigned variable names. We can also use the variables themselves when doing the reassignment.

In [16]:
# Use a to redefine a
a = a+a

In [18]:
a

20

Rules:
1. Name cannot start with a number.
2. There can be no sapce in the name, use _ instead
3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
4. It's considered best practice (PEP8) that name are lowercase.
5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), or 'I' (Uppercase letter eye) as single character variable names.
6. Avoid using words that have special meaning in python like "list" and "str"

Using variable names can be a very useful way to keep track of different variables in Python.

In [20]:
# Use object names to keep better track of what's going on in your model
my_income = 10000
tax_rate = 0.1
my_taxes = my_income * tax_rate
my_taxes

1000.0